<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>实时数据展示</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
</head>
<body>
    <div id="body">
        @RenderBody()
    </div>
    <script src="~/Content/js/Realtime/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/textfader.js"></script>
    <script src="~/Content/js/macarons.js"></script>
    <script src="~/Content/js/echarts.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/Realtime/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/Content/js/Realtime/jquery.color-2.1.2.min.js"></script>
    <script src="~/Content/js/Realtime/jquery-1.10.2.intellisense.js"></script>
    <script language="javascript" type="text/javascript" src="~/signalr/hubs"></script>
    <script src="~/Content/js/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Content/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
</body>


</html>