<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12  span12">
            <img alt="this is Banner" id="banner" src="img/banner.png" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12  span12">
            <div class="accordion" id="accordion-355069">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-355069" href="#accordion-element-369533">统计指标 #1</a>
                    </div>
                    <div id="accordion-element-369533" class="accordion-body collapse">
                        <div class="accordion-inner">
                            功能块...
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-355069" href="#accordion-element-205572">统计指标 #2</a>
                    </div>
                    <div id="accordion-element-205572" class="accordion-body in collapse">
                        <div class="accordion-inner">
                            功能块...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12">
            <div id="" style="text-align:center">
                <b id="labelStat">泵房状态：正常</b><b> 列表</b>
            </div>
            <table id="maintable"
                   data-toggle="table"
                   data-side-pagination="client"
                   data-pagination="true"
                   data-page-list="[ 15]">
                <thead>
                    <tr>
                        <th data-field="No">序号</th>
                        <th data-field="SiteStat">站点名称</th>
                        <th data-field="InPress">进水压力（Mpa)</th>
                        <th data-field="OutPress">出水压力(Mpa)</th>
                        <th data-field="NTU">浊度(NTU)</th>
                        <th data-field="ppm">余氯（mg/L)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>